@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loader {
  animation: loader 1.5s infinite linear;
}
